@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img{
    background-image: url('../src/asset/house2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}